.home {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary);
}

.subtitle {
  font-size: 1rem;
  color: var(--text-secondary);
}
