services:
  db:
    image: postgres:15
    container_name: hockey_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/db:/docker-entrypoint-initdb.d/:ro # Mapeo de scripts SQL
    networks:
      - hockey-network

  api:
    build: ./backend
    container_name: hockey_api
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app
    networks:
      - hockey-network

  frontend:
    build: ./frontend
    container_name: hockey_frontend
    restart: always
    env_file:
      - .env
    ports:
      - "5173:5173"
    depends_on:
      - api
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - hockey-network

volumes:
  postgres_data:

networks:
  hockey-network:
    driver: bridge