/* src/global.css */
@import "./variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--bg-main); /* Usa tu variable de tema */
  color: var(--text-main);
  min-height: 100vh;
}