/* frontend/src/styles/variables.css */
:root {
  /* 🎯 Primary */
  --color-primary: #dcf0fa;
  --color-secondary: #84cdee;
  --color-intermedio: #0c1853cc;
  --background-oscuro: #121212;
  --backggound-claro: #dcf0fa;
 

  /*Colores para formularios */
  --color-casilla-oscura: #838383;
  --color-casilla-clara: #0e465833;

    /* 📝 Text (TUS COLORES) */
  --text-primary: #212121;
  --text-secondary: #757575;
  --text-on-primary: #ffffff;
  
   /* 📏 UI */
  --divider-color: #bdbdbd;
  --border-color: black;
  --boton-oscuro: #5b869b;

  /* 🎨 OPCIONES DE ACCENT (elige una) */
 
  /* 1. CORAL SUAVE (mi recomendación principal) */
  --color-accent01: #ff8a65;
  
  /* 2. TEAL/MENTA (armonía analógica) */
  --color-accent02: #26a69a;
  
  /* 3. MOSTAZA DORADA (contraste cálido) */
  --color-accent03: #ffb300;
  
  /* 4. LAVANDA (tonalidad complementaria suave) */
  --color-accent04: #9575cd;
  
  /* 5. VERDE BOTELLA (elegante y contrastante) */
  --color-accent05: #689f38;
  
 
  
  /* 🧱 Backgrounds */
  --bg-default: #f5f5f5;
  --bg-paper: #ffffff;
}