/* Definición de la paleta base y variables dinámicas */
:root {
  /* 🎨 Colores de Acento (Se mantienen igual en ambos modos) */
  --color-accent01: #ff8a65;
  --color-accent02: #233c6b;
  --color-accent03: #ffb300;
  --color-accent04: #9575cd;
  --color-accent05: #689f38;

  /* 📏 UI Constantes */
  --radius-lg: 24px;
  --radius-md: 12px;
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ☀️ MODO CLARO (Default) */
[data-theme='light'] {
  --bg-main: #f5f5f5;
  --bg-card: #ffffff;
  --bg-header: #dcf0fa; /* Tu color light original */
  
  --text-main: #212121;
  --text-muted: #757575;
  
  --border-color: #bdbdbd;
  --input-bg: #0e465833;
  
  --color-primary: #84cdee;
  --color-surface: #ffffff;
}

/* 🌙 MODO OSCURO (El que estuvimos haciendo) */
[data-theme='dark'] {
  --bg-main: #121212;
  --bg-card: #202124;
  --bg-header: #1e1e1e;
  
  --text-main: #e8eaed;
  --text-muted: #9aa0a6;
  
  --border-color: #3c4043;
  --input-bg: #303134;
  
  --color-primary: #8ab4f8; /* Azul suave para modo oscuro */
  --color-surface: #202124;
}