/* ClubCard.module.css */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-radius: var(--radius-md); /* Usamos la variable de App */
  background-color: var(--bg-card); /* Cambia según el tema */
  border: 1px solid var(--border-color); /* Cambia según el tema */
  cursor: pointer;
  transition: var(--transition);
}

.card:hover {
  border-color: var(--color-primary);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.card h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
  color: var(--text-main); /* Blanco en dark, Negro en light */
}

.card span {
  font-size: 0.85rem;
  color: var(--text-muted); /* Gris suave */
}

.chevron {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: bold;
}