.navbar {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;

  background-color: var(--color-secondary);
  border-bottom: 1px solid var(--divider-color);
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: var(--color-accent04);
}

.login {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 600;
}
.login:hover {
    color: var(--color-accent04)
}

.button {
  background-color: var(--color-accent05);
  color: var(--text-primary);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-accent04);
}
