.footer {
  width: 100%;
  padding: 16px 24px;
  margin-top: auto;

  text-align: center;
  font-size: 0.9rem;
  color: var(--text-primary);
}

.author {
  color: var(--color-accent03);
  font-weight: 500;
}
